/* Definições de variáveis de raiz */
:root {
  display: flex; /* Define o contêiner raiz como um flex container */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

/* Estilo global para o corpo da página */
body {
  margin: 0; /* Remove as margens padrão */
  display: flex; /* Define o corpo como um flex container */
  place-items: center; /* Centraliza o conteúdo vertical e horizontalmente */
  min-width: 320px; /* Largura mínima da página */
  min-height: 100vh; /* Altura mínima da página que ocupa toda a altura da janela de visualização */
  background-color: #D8D9D7; /* Cor de fundo do corpo */
}

/* Estilo para o botão "Adicionar Livro" */
.btAdicionarLivro {
  display: flex; /* Define o botão como um flex container */
  height: 50px; /* Altura do botão */
  width: 150px; /* Largura do botão */
  margin: 2rem; /* Margem ao redor do botão */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0D0D0D; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #0D0D0D; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 18px; /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Adicionar Livro" */
.btAdicionarLivro:hover {
  transform: translateY(-10px); /* Translação para cima ao passar o mouse */
}

/* Estilo para o formulário */
.form {
  --width-of-input: 200px; /* Largura padrão dos campos de entrada */
  --border-height: 1px; /* Altura da borda inferior dos campos de entrada */
  --border-before-color: #0D0D0D; /* Cor da borda antes do foco */
  --border-after-color: #0D0D0D; /* Cor da borda após o foco */
  --input-hovered-color: #BFBFBD; /* Cor de fundo ao passar o mouse */
  position: relative; /* Define o posicionamento relativo para elementos internos */
  width: var(--width-of-input); /* Largura com base na variável de largura */
}

/* Estilo para campos de entrada de texto */
.input {
  color: #0D0D0D; /* Cor do texto nos campos de entrada */
  font-size: 18px; /* Tamanho da fonte nos campos de entrada */
  background-color: transparent; /* Fundo transparente */
  width: 100%; /* Largura total do elemento pai */
  box-sizing: border-box; /* Caixa com modelo de borda (inclui padding na largura) */
  padding-inline: 0.5em; /* Espaçamento interno nas laterais */
  padding-block: 0.7em; /* Espaçamento interno superior e inferior */
  border: none; /* Remove a borda padrão */
  border-bottom: var(--border-height) solid var(--border-before-color); /* Borda inferior personalizada */
}

/* Estilo para a animação da borda inferior */
.input-border {
  position: absolute; /* Posicionamento absoluto para a borda animada */
  background: var(--border-after-color); /* Cor de fundo da borda animada */
  width: 0%; /* Largura inicial da borda animada (0%) */
  height: 2px; /* Altura da borda animada */
  bottom: 0; /* Alinhamento inferior */
  left: 0; /* Alinhamento à esquerda */
  transition: 0.3s; /* Duração da animação da borda */
}

/* Estilo ao passar o mouse sobre o campo de entrada */
input:hover {
  background: var(--input-hovered-color); /* Altera a cor de fundo ao passar o mouse */
}

/* Estilo quando o campo de entrada está em foco */
input:focus {
  outline: none; /* Remove a borda de foco padrão */
}

/* Estilo da borda animada quando o campo de entrada está em foco */
input:focus ~ .input-border {
  width: 100%; /* Aumenta a largura da borda animada quando em foco */
}

/* Estilo para a divisão de parte do texto */
.div-parte-texto {
  display: flex; /* Define a divisão como um flex container */
  flex-direction: row; /* Direção das crianças flexíveis (linhas) */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.titulo1 {
  font-size: 35px;
}

.subtitulo {
  display: flex;
  flex-direction: row;
}

.titulos {
  margin: 10px;
  font-size: 20px;
}

.divNomeLivro {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item {
  font-size: 20px
}

/* Estilo para o botão "Detalhes do Livro" */
.buttonDetalhes {
  display: flex; /* Define o botão como um flex container */
  height: 30px; /* Altura do botão */
  width: 100px; /* Largura do botão */
  margin: 0rem 2rem; /* Margem ao redor do botão */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0D0D0D; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #0D0D0D; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Detalhes do Livro" */
.buttonDetalhes:hover {
  transform: translateY(-5px); /* Translação para cima ao passar o mouse */
}

/* Estilo para o botão "Detalhes do Livro" */
.ButtonmarcarLido {
  display: flex; /* Define o botão como um flex container */
  height: 30px; /* Altura do botão */
  width: 180px; /* Largura do botão */
  margin-left: 2rem; /* Margem ao redor do botão */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0D0D0D; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #0D0D0D; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Detalhes do Livro" */
.ButtonmarcarLido:hover {
  transform: translateY(-5px); /* Translação para cima ao passar o mouse */
}

/* Estilo para o botão "Excluir Livro" */
.buttonExcluir {
  display: flex; /* Define o botão como um flex container */
  height: 30px; /* Altura do botão */
  width: 100px; /* Largura do botão */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #8C031C; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #8C031C; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Excluir Livro" */
.buttonExcluir:hover {
  transform: translateY(-5px); /* Translação para cima ao passar o mouse */
}

.GrupoBotoes {
  display: flex;
  flex-direction: row;
}

/* Estilo para o botão "Detalhes do Livro" */
.buttonEditar {
  display: flex; /* Define o botão como um flex container */
  height: 30px; /* Altura do botão */
  width: 100px; /* Largura do botão */
  margin: 0rem 1rem; /* Margem ao redor do botão */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0D0D0D; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #0D0D0D; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Detalhes do Livro" */
.buttonEditar:hover {
  transform: translateY(-5px); /* Translação para cima ao passar o mouse */
}

.item {
  margin-top: 2rem;
}

hr {
  border-color: #8C031C;
  border-radius: 10px;
}

/* Estilo para o formulário */
.form {
  --width-of-input: 200px; /* Largura padrão dos campos de entrada */
  --border-height: 1px; /* Altura da borda inferior dos campos de entrada */
  --border-before-color: #0D0D0D; /* Cor da borda antes do foco */
  --border-after-color: #0D0D0D; /* Cor da borda após o foco */
  --input-hovered-color: #BFBFBD; /* Cor de fundo ao passar o mouse */
  position: relative; /* Define o posicionamento relativo para elementos internos */
  width: var(--width-of-input); /* Largura com base na variável de largura */
}

/* Estilo para campos de entrada de texto */
.input2 {
  color: #0D0D0D; /* Cor do texto nos campos de entrada */
  font-size: 18px; /* Tamanho da fonte nos campos de entrada */
  background-color: transparent; /* Fundo transparente */
  width: 100%; /* Largura total do elemento pai */
  box-sizing: border-box; /* Caixa com modelo de borda (inclui padding na largura) */
  padding-inline: 0.5em; /* Espaçamento interno nas laterais */
  padding-block: 0.7em; /* Espaçamento interno superior e inferior */
  border: none; /* Remove a borda padrão */
  border-bottom: var(--border-height) solid var(--border-before-color); /* Borda inferior personalizada */
}

/* Estilo para a animação da borda inferior */
.input2-border {
  position: absolute; /* Posicionamento absoluto para a borda animada */
  background: var(--border-after-color); /* Cor de fundo da borda animada */
  width: 0%; /* Largura inicial da borda animada (0%) */
  height: 2px; /* Altura da borda animada */
  bottom: 0; /* Alinhamento inferior */
  left: 0; /* Alinhamento à esquerda */
  transition: 0.3s; /* Duração da animação da borda */
}

/* Estilo ao passar o mouse sobre o campo de entrada */
input2:hover {
  background: var(--input-hovered-color); /* Altera a cor de fundo ao passar o mouse */
}

/* Estilo quando o campo de entrada está em foco */
input2:focus {
  outline: none; /* Remove a borda de foco padrão */
}

/* Estilo da borda animada quando o campo de entrada está em foco */
input2:focus ~ .input2-border {
  width: 100%; /* Aumenta a largura da borda animada quando em foco */
}