body {
  margin: 50px; /* Remove as margens padrão */
  background-image: url(https://i.pinimg.com/564x/43/8e/f4/438ef4ae7cba4fe32b99487665cb41e8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.DivPrincipal {
  background-color: #F2EEEB;
  padding: 10px;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
}

.DivPrincipal {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 40vh;
  background-color:  #8C7064;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #fffafa;
  display: flex;
  position: relative;
  gap: 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
}

.value:not(:active):hover,
.value:focus {
  background-color: #73574D;
}

.value:focus,
.value:active {
  background-color: #8C7064;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #0D0D0D;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value.active::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  width: 5px;
  height: 80%;
  background-color: #0D0D0D;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}

.value svg {
  width: 25px
}
