/* Classe para a divisão principal do livro */
.DivPrincipalLivro {
  background-color: #F2EEEB;  /* Cor de fundo */
  padding: 5px;  /* Preenchimento */
  min-height: 30vh;  /* Altura mínima em relação à viewport */
  display: flex;  /* Define como contêiner flexível */
  flex-direction: column;  /* Direção da coluna para os itens flexíveis */
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  width: 995px;  /* Largura fixa */
}

/* Classe para uma divisão que contém parte do texto */
.div-parte-texto {
  display: flex;  /* Define como contêiner flexível */
  flex-direction: row;  /* Direção de linha para os itens flexíveis */
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
}

/* Estilo para título de nível 1 */
.titulo1 {
  font-size: 35px;  /* Tamanho da fonte */
}

/* Estilo para uma subdivisão de título */
.subtitulo {
  display: flex;  /* Define como contêiner flexível */
  flex-direction: row;  /* Direção de linha para os itens flexíveis */
}

/* Estilo para títulos em geral */
.titulos {
  margin: 10px;  /* Margem ao redor do elemento */
  font-size: 25px;  /* Tamanho da fonte */
}

/* Estilo para uma divisão que contém o nome do livro */
.divNomeLivro {
  display: flex;  /* Define como contêiner flexível */
  flex-direction: row;  /* Direção de linha para os itens flexíveis */
  align-items: center;  /* Centraliza verticalmente */
  margin-bottom: 1rem;  /* Margem inferior */
}

/* Estilo para itens de texto */
.item {
  font-size: 22.5px;  /* Tamanho da fonte */
}

/* Estilo para botão "Detalhes do Livro" */
.buttonDetalhes {
  display: flex;  /* Define como contêiner flexível */
  height: 30px;  /* Altura do botão */
  width: 100px;  /* Largura do botão */
  margin: 0rem 2rem;  /* Margem ao redor do botão */
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  background-color: #0D0D0D;  /* Cor de fundo do botão */
  border-radius: 10px;  /* Borda arredondada */
  letter-spacing: 1px;  /* Espaçamento entre letras */
  transition: all 0.2s linear;  /* Transição suave de propriedades */
  cursor: pointer;  /* Cursor do mouse em forma de mão */
  border: none;  /* Remove a borda padrão */
  background: #0D0D0D;  /* Cor de fundo do botão */
  color: #fffafa;  /* Cor do texto no botão */
  font-size: 16px;  /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Detalhes do Livro" */
.buttonDetalhes:hover {
  transform: translateY(-5px);  /* Translação para cima ao passar o mouse */
}

/* Estilo para botão "Marcar como Lido" */
.ButtonmarcarLido {
  display: flex;  /* Define como contêiner flexível */
  height: 30px;  /* Altura do botão */
  width: 200px;  /* Largura do botão */
  margin: 0rem 1rem;  /* Margem ao redor do botão */
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  background-color: #0D0D0D;  /* Cor de fundo do botão */
  border-radius: 10px;  /* Borda arredondada */
  letter-spacing: 1px;  /* Espaçamento entre letras */
  transition: all 0.2s linear;  /* Transição suave de propriedades */
  cursor: pointer;  /* Cursor do mouse em forma de mão */
  border: none;  /* Remove a borda padrão */
  background: #0D0D0D;  /* Cor de fundo do botão */
  color: #fffafa;  /* Cor do texto no botão */
  font-size: 16px;  /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Detalhes do Livro" */
.ButtonmarcarLido:hover {
  transform: translateY(-5px);  /* Translação para cima ao passar o mouse */
}

/* Estilo para botão "Excluir Livro" */
.buttonExcluir {
  display: flex;  /* Define como contêiner flexível */
  height: 30px;  /* Altura do botão */
  width: 100px;  /* Largura do botão */
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  background-color: #8C031C;  /* Cor de fundo do botão */
  border-radius: 10px;  /* Borda arredondada */
  letter-spacing: 1px;  /* Espaçamento entre letras */
  transition: all 0.2s linear;  /* Transição suave de propriedades */
  cursor: pointer;  /* Cursor do mouse em forma de mão */
  border: none;  /* Remove a borda padrão */
  color: #fffafa;  /* Cor do texto no botão */
  font-size: 16px;  /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Editar" */
.buttonExcluir:hover {
  transform: translateY(-5px);  /* Translação para cima ao passar o mouse */
}

/* Estilo para botão "Editar" */
.buttonEditar {
  display: flex;  /* Define como contêiner flexível */
  height: 30px;  /* Altura do botão */
  width: 100px;  /* Largura do botão */
  margin: 0rem 2rem;  /* Margem ao redor do botão */
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  background-color: #0D0D0D;  /* Cor de fundo do botão */
  border-radius: 10px;  /* Borda arredondada */
  letter-spacing: 1px;  /* Espaçamento entre letras */
  transition: all 0.2s linear;  /* Transição suave de propriedades */
  cursor: pointer;  /* Cursor do mouse em forma de mão */
  border: none;  /* Remove a borda padrão */
  background: #0D0D0D;  /* Cor de fundo do botão */
  color: #fffafa;  /* Cor do texto no botão */
  font-size: 16px;  /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Editar" */
.buttonEditar:hover {
  transform: translateY(-5px);  /* Translação para cima ao passar o mouse */
}

/* Estilo para um grupo de botões */
.GrupoBotoes {
  display: flex;  /* Define como contêiner flexível */
  flex-direction: row;  /* Direção de linha para os itens flexíveis */
}

/* Estilo para o botão "Detalhes do Livro" */
.buttonEditar {
  display: flex; /* Define o botão como um flex container */
  height: 30px; /* Altura do botão */
  width: 125px; /* Largura do botão */
  margin: 0rem 1rem; /* Margem ao redor do botão */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0D0D0D; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #0D0D0D; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Detalhes do Livro" */
.buttonEditar:hover {
  transform: translateY(-5px); /* Translação para cima ao passar o mouse */
}

/* Estilo para o item */
.item {
  margin-top: 2rem; /* Adiciona uma margem superior de 2 rem para o elemento com a classe 'item' */
}

/* Estilo para a linha horizontal (hr) */
hr {
  border-color: #8C031C; /* Define a cor da borda da linha horizontal como #8C031C */
  border-radius: 10px; /* Adiciona um raio de borda de 10 pixels para tornar a borda arredondada */
}

/* Estilo para a informação de entrada */
.InputInfo {
  display: flex; /* Define o elemento com a classe 'InputInfo' como um contêiner flexível */
  flex-direction: row; /* Define a direção dos itens filhos como linha */
}

/* Estilo para o formulário */
.form {
  --width-of-input: 200px; /* Largura padrão dos campos de entrada */
  --border-height: 1px; /* Altura da borda inferior dos campos de entrada */
  --border-before-color: #0D0D0D; /* Cor da borda antes do foco */
  --border-after-color: #0D0D0D; /* Cor da borda após o foco */
  --input-hovered-color: #BFBFBD; /* Cor de fundo ao passar o mouse */
  position: relative; /* Define o posicionamento relativo para elementos internos */
  width: var(--width-of-input); /* Largura com base na variável de largura */
  margin: 0.5rem;
}

/* Estilo para campos de entrada de texto */
.input2 {
  color: #0D0D0D; /* Cor do texto nos campos de entrada */
  font-size: 15px; /* Tamanho da fonte nos campos de entrada */
  background-color: transparent; /* Fundo transparente */
  width: 100%; /* Largura total do elemento pai */
  box-sizing: border-box; /* Caixa com modelo de borda (inclui padding na largura) */
  padding-inline: 0.5em; /* Espaçamento interno nas laterais */
  padding-block: 0.7em; /* Espaçamento interno superior e inferior */
  border: none; /* Remove a borda padrão */
  border-bottom: var(--border-height) solid var(--border-before-color); /* Borda inferior personalizada */
}

/* Estilo para a animação da borda inferior */
.input2-border {
  position: absolute; /* Posicionamento absoluto para a borda animada */
  background: var(--border-after-color); /* Cor de fundo da borda animada */
  width: 0%; /* Largura inicial da borda animada (0%) */
  height: 2px; /* Altura da borda animada */
  bottom: 0; /* Alinhamento inferior */
  left: 0; /* Alinhamento à esquerda */
  transition: 0.3s; /* Duração da animação da borda */
}

/* Estilo ao passar o mouse sobre o campo de entrada */
.input2:hover {
  background: var(--input-hovered-color); /* Altera a cor de fundo ao passar o mouse */
}

/* Estilo quando o campo de entrada está em foco */
.input2:focus {
  outline: none; /* Remove a borda de foco padrão */
}

/* Estilo da borda animada quando o campo de entrada está em foco */
.input2:focus ~ .input2-border {
  width: 100%; /* Aumenta a largura da borda animada quando em foco */
}

/* Estilo para o campo de entrada de nome do livro */
.inputNomeLivro {
  background-color: #fffafa; /* Cor de fundo do campo */
  border: 2px solid black; /* Borda sólida de 2 pixels de espessura e cor preta */
  border-radius: 5px; /* Borda arredondada com raio de 5 pixels */
  font-size: 20px; /* Tamanho da fonte do texto no campo */
}

.btAdicionarLivro {
  display: flex; /* Define o botão como um flex container */
  height: 30px; /* Altura do botão */
  width: 150px; /* Largura do botão */
  margin: 0rem 1rem; /* Margem ao redor do botão */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0D0D0D; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #0D0D0D; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estilo de hover para o botão "Detalhes do Livro" */
.btAdicionarLivro:hover {
  transform: translateY(-5px); /* Translação para cima ao passar o mouse */
}

/* Estilo para o seletor */
.selcionar {
  background-color: #F2EEEB; /* Cor de fundo */
  margin: 2px; /* Margem de 2 pixels */
  font-size: 15px; /* Tamanho da fonte */
  border: none; /* Sem borda */
}

.SalvarAlteracao {
  display: flex; /* Define o botão como um flex container */
  height: 30px; /* Altura do botão */
  width: 150px; /* Largura do botão */
  margin: 0.5rem;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0D0D0D; /* Cor de fundo do botão */
  border-radius: 10px; /* Borda arredondada */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: all 0.2s linear; /* Transição suave de propriedades */
  cursor: pointer; /* Cursor do mouse em forma de mão */
  border: none; /* Remove a borda padrão */
  background: #0D0D0D; /* Cor de fundo do botão */
  color: #fffafa; /* Cor do texto no botão */
  font-size: 16px; /* Tamanho da fonte */
}

.SalvarAlteracao:hover {
  transform: translateY(-5px); /* Translação para cima ao passar o mouse */
}